<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      @if (authService.currentUserSig() == null) {
        <app-public-header [menuItems]="publicMenuItems"></app-public-header>
      } @else {
        <app-private-header [menuItems]="privateMenuItems"></app-private-header>
      }
      @if (darkModeFeatureEnabled) {
        <div>
          <button
            mat-mini-fab
            color="accent"
            (click)="darkMode.set(!darkMode())"
          >
            @if (darkMode()) {
              <mat-icon>light_mode</mat-icon>
            } @else {
              <mat-icon>dark_mode</mat-icon>
            }
          </button>
        </div>
      }
    </mat-toolbar-row>
  </mat-toolbar>
</header>
