<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a mat-button routerLink="/">project</a>
      <span class="example-spacer"></span>

      <nav>
        @for (
          menuItem of loggedIn() ? privateMenuItems : publicMenuItems;
          track $index
        ) {
          <a
            mat-button
            [routerLink]="menuItem.path"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >{{ menuItem.title }}</a
          >
        }
      </nav>

      @if (darkModeFeatureEnabled) {
        <div>
          <button
            mat-mini-fab
            color="accent"
            (click)="darkMode.set(!darkMode())"
          >
            @if (darkMode()) {
              <mat-icon>light_mode</mat-icon>
            } @else {
              <mat-icon>dark_mode</mat-icon>
            }
          </button>
        </div>
      }
    </mat-toolbar-row>
  </mat-toolbar>
</header>
